<?xml version="1.0"?>
<!--suppress XmlUnboundNsPrefix -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nosto_cmp>
            <flags>
                <category_sorting>1</category_sorting>
            </flags>
            <limit>
                <max_products>250</max_products>
            </limit>
        </nosto_cmp>
    </default>
</config>
